* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-color: black; */
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

section {
    background-color: white;
    margin: 10px;
}

.nav{
    display: flex;
    flex-direction: row;
    background-color: black;
}

.nav h3 {
    background-color: black;
    margin: 10px;    
    width: 200px;
    color: white;
    padding-right: 150px;
}

.panel{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px;
}

.panel-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

span {
    background-color: green;
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -10px;
}

.panel div {
    background-color: white;
    margin: 10px;    
    border: 3px solid black;
    height: 200px;
    width: 900px;
    margin-bottom: 100px;
}

.panel-right div {
    background-color: white;
    margin: 10px;    
    border: 3px solid black;
    height: 200px;
    width: 900px;
    margin-bottom: 100px;
}

.main {
    display: flex;
    justify-content: row;
}

.right {
    border: 3px solid black;
    margin-right: 50px;
}